// Modifiez rapidement le style global en activant ou en désactivant des fonctionnalités facultatives.
$enable-rounded: true !default;
//Modification des couleurs
$primary: #2f06a1;
$light:   #ddca1c;  

$zindex-offcanvas: 1051;